{% extends "base.html" %}
{% block title %}A New Decision{% endblock %} 
{% block content %}

<div class="form-wrapper">
  <h2 class="title">New Decision</h2>

  <form method="POST" action={{ url_for("render_new_decision_form") }}>
    {{ form.csrf_token }}
    <fieldset class="form-field">
      {{ form.title.label }} {{ form.title(size=20) }}
    </fieldset>

    <fieldset class="form-field">
      {{ form.description.label }} {{ form.description}}
    </fieldset>

    {{ form.submit }}
  </form>
</div>

{% endblock %}
